<ion-content>

  <div class="div"></div>
  <div class="div2"></div>
  <div class="div3"></div>
  <div class="div4"></div>
  <!--card da imagem-->
  <ion-card>
    <img src="https://lh4.googleusercontent.com/SdZSflJoFMzI9KhLX157HBb8Aeh4D4oEYblYUAIo_AmhNlMpItON_csT7rcdJsxWNoZ1zB3vzFGz5peyFGyZSwQ2adURV4I0PScdIl3WmdPvn2yf0GVRqqsLyho1DOpgLQ=w1280" alt="" class="img">
  </ion-card>

  <!--card login tela branca-->
  <ion-card class="cardLogin">
  <h3 class="loginText">Login account</h3>


<!--input username-->
    <ion-card class="username">
      <ion-input placeholder="Username">
      </ion-input>
    </ion-card>

    <!--input pasword-->
    <ion-card class="password">
      <ion-input placeholder="Pasword">
      </ion-input>
    </ion-card>

<ion-item> <ion-checkbox slot="start"></ion-checkbox> <ion-label>remember me</ion-label></ion-item>
<h5>forgot password?</h5>
</ion-card>
</ion-content>
